:root { 
--white_A700_7f:#ffffff7f; 
--green_300:#82cf6f; 
--gray_50_01:#f0f9ff; 
--gray_50_02:#f0f8ff; 
--light_blue_900:#0063a9; 
--blue_gray_900:#263238; 
--red_A700:#dd0613; 
--gray_600:#727272; 
--gray_400:#c0c0c0; 
--light_blue_900_01:#004f86; 
--blue_700:#2d82be; 
--black_900_0c:#0000000c; 
--yellow_A700:#ffd900; 
--black_900_11:#00000011; 
--gray_400_01:#bfbfbf; 
--gray_100_01:#f7f7f7; 
--black_900_19:#00000019; 
--red_A700_01:#ff0000; 
--white_A700:#ffffff; 
--cyan_A400:#00d3ff; 
--red_700:#db3434; 
--blue_gray_50:#ecedf2; 
--white_A700_1e:#ffffff1e; 
--red_500:#f43249; 
--green_600:#2cb742; 
--gray_50:#f8faff; 
--green_400:#73ca5d; 
--light_blue_800:#0a70bb; 
--green_A400:#00ee76; 
--white_A700_33:#ffffff33; 
--white_A700_cc:#ffffffcc; 
--black_900:#000000; 
--gray_500_01:#aaaaaa; 
--blue_gray_800:#174261; 
--gray_500_02:#a1a1a1; 
--black_900_26:#00000026; 
--gray_500:#939393; 
--gray_600_01:#7f7f7f; 
--blue_700_02:#3286c2; 
--blue_700_01:#3186c3; 
--blue_800:#0062d5; 
--gray_900:#171717; 
--gray_900_01:#1a1919; 
--light_blue_50:#d7eefe; 
--blue_gray_800_01:#164160; 
--gray_300:#dedede; 
--gray_300_02:#e0e0e0; 
--gray_300_01:#e3e3e3; 
--gray_100:#f5f5f5; 
--black_900_33:#00000033; 
--blue_700_03:#3286c3; 
}